<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.ico">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
  {{--  <link rel="stylesheet" href="style.css">  --}}

  <script src="{{ asset('assets/app.js') }}" defer></script>

  <title>adoinertia</title>
</head>
<body class="font-sans leading-none text-gray-700 antialiased bg-gray-100 h-full">
  @inertia()
</body>
</html>
